<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="Dept.Properties.Settings.DeptConnectionString" connectionString="Data Source=ADMIN_PC\SQLEXPRESS;Initial Catalog=Dept;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />-->
        <add name="Dept.Properties.Settings.DeptDBConnectionString" connectionString="Data Source=ADMIN_PC\SQLEXPRESS;Initial Catalog=DeptDB;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>